<h2>Insira o valor do aporte e clique em REALIZAR APORTE no Beneficiário escolhido</h2>

<form [formGroup]="itemsForm" (ngSubmit)="onSubmit()">
  <label for="valor"> Valor do Aporte</label>
  <input id="valor" type="text" formControlName="valor"/>
  <h2>Lista de Beneficiários</h2>
 
  <div *ngFor="let beneficiario of beneficiarios | async">
    <h3>
      <a [title]="beneficiario.nome + ' details'" [routerLink]="['/products', beneficiario.id]">
        {{ beneficiario.nome }}
      </a>
    </h3>    
    <button (click)="aportar(beneficiario)">Realizar Aporte</button>
  </div>

</form>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->